/* card styling */

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(66, 65, 65, 0.5);
}

.card-title,
.card-text,
.btn-primary {
  position: relative;
  z-index: 1;
}

.btn-primary {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-title {
  font-weight: bold;
  font-size: 50px;
  padding-top: 5rem;
  padding-left: 20px;
  text-align: left;
}

.flex-container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container{
    padding: 1rem;
} 

.card {
    position: relative;
    overflow: hidden;
    max-width: 350px;
    max-height: 250px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 200ms;
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(66, 65, 65, 0.5);
}
.card:hover {
    opacity: 2;
    transform: scale(1.05);
}

.card-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

