nav {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.nav-item{
  padding-left: 25px;

}
img {
  height: 140px;
}
.search-box {
  align-items: center;
  background-color: #fff;
  height: 45px;
  border-radius: 4px 0px 0px 4px;
  padding: 10px;
}

.search-btn {
  color: #fff;
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 0px 4px 4px 0px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-movie-btn {
  margin-top: 3px;
  background-color: #f44336;
  color: white;
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
}