<nav class="navbar navbar-expand-sm flex-sm-nowrap flex-wrap">
    <a class="navbar-brand" routerLink="/home"><img src="./assets/images/logo.png"/></a>
    <div class="navbar-collapse collapse" id="navbar5">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <button class="new-movie-btn" (click)="openNewPlaylistModal()"><i class="fa-solid fa-plus" style="font-size: 25px;"></i></button>
            </li>

            <li class="nav-item">
                <form [formGroup]="searchForm" (ngSubmit)="onSearchMovie()">
                    <input type="search" class="search-box" id="movieTitle" formControlName="movieTitle" placeholder="Search For Movies...">
                    <button class="search-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>


        </ul>
    </div>
</nav>
