<div class="flex-container">

  <div class="card-container" *ngFor="let movie of movies">
    <p class="card-title mb-3">{{movie.title || movie.name}}<p>
      <div class="card">
          <img [src]="movie.image" class="card-img-top" alt="...">
          <button type="button" class="add-button" data-bs-toggle="dropdown" aria-expanded="false">+</button>
          <ul class="dropdown-menu" data-target="#newPlaylistModal">
            <li><a class="dropdown-item" *ngFor="let playlist of playlists" (click)="onAddMovie(movie, playlist.id)">{{playlist.name}}</a></li>
          </ul>
      </div>
  </div>
  
</div>
