.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container{
  margin: 1rem;
  margin-bottom: 5rem;
  width: 250px;
  height: 350px;
  position: relative;
}
.card{
  overflow: hidden;
  margin: 10px;
}
.card-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.card:hover{
  transform: scale(1.02);
  transition: all linear 100ms;
  z-index: 1;
  cursor: pointer;
}

.add-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: black;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0.25, 0.25, 0.25, 0.25);
  cursor: pointer;
}

.dropdown-menu {
  z-index: 2;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-item {
  z-index: 1;
}





