<div class="flex-container">

  <div class="card-container pt-4 pb-4" *ngFor="let movie of movies">
    <p class="card-title mb-3">{{movie.title || movie.name}}<p>
      <div class="card">
          <img [src]="movie.image || 'https://via.placeholder.com/150'" class="card-img-top" alt="...">
          <button type="button" class="dropdown-toggle add-button" data-bs-toggle="dropdown" aria-expanded="false">+</button>
          <ul class="dropdown-menu" data-toggle="modal" data-target="#newPlaylistModal">
            <li><a class="dropdown-item" (click)="openNewPlaylistModal()">New MovieMix</a></li>
            <li><hr class="dropdown-divider" style="width: 80%;"></li>
            <li><a class="dropdown-item" *ngFor="let playlist of playlists" (click)="onAddMovie(movie, playlist.id)">{{playlist.name}}</a></li>
          </ul>
      </div>
  </div>
  
</div>